<div class="container">
    <app-custom-form [inputJson]="inputJson['login']" (onUserSaved)="onUserCreation($event)"></app-custom-form>
    <app-custom-form [inputJson]="inputJson['distributordetails']" (onUserSaved)="onUserCreation($event)"></app-custom-form>
    <app-custom-form [inputJson]="inputJson['vendordetails']" (onUserSaved)="onUserCreation($event)"></app-custom-form>
    <app-custom-form [inputJson]="inputJson['marketingdetails']" (onUserSaved)="onUserCreation($event)"></app-custom-form>

</div>
